import 'package:flutter/material.dart';

const String requestURL = "requestURL";

const String onesiganlAppId = "YOUR-ONESIGNAL-APP-ID";
const String mixpanelToken = "YOUR-MIXPANEL-TOKEN";

final Color selectedColor = Colors.green;
